/* You can add global styles to this file, and also import other style files */
:root {
  --background: #fff;
  --foreground: #f7be36;
  --primary-color: black;
  --btn-outline: #f7be36;
  --error-color: rgb(150 4 4);
  --question-tip: gray;
  --general-btn-text-color: white;
  --general-btn-hover-bg: #f7be36;
  --secondary-btn-bg: white;
  --secondary-btn-hover-bg: #f7be36;
  /* --card-bg: #FBF4E5; */
  --disabled-btn-bg: gainsboro;
  --disabled-btn-text: #f7be36;
}

.btn {
  border-radius: 30px !important;
}

.btn-primary {
  background-color: #f7be36 !important;
  color: black !important;
}
